{% extends "layout.html" %}

{% set active_page = "page3" %}

{% block title %}MVP{% endblock %}

{% block content %}     
     <title>Why did they recieve the Medal of Honor?</title>
<h1>Age Database</h1>
<p>Choose a name to see why they were awarded the Medal of Honor</p>
<form action="/p3">
  <label for="States">Choose a Name:</label>
  <select name="states">
    {{states}}
  </select>
  <br><br>
  <input type="submit">
<p> This person was awarded the Medal of Honor: {{ military record_organization }}</p>
</form>
{% endblock %}
