{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}MVP2{% endblock %}

{% block content %}
     <title>AgeMetrics</title>
<h1>Age Database</h1>
<p>Enter your year and name to receive age data</p>
<form action="/p2">
  <label for="States">Choose a Name:</label>
  <select name="states">
    {{states}}
  </select>
  <br><br>
  <input type="submit">
</form>
<p> Facts about the person: {{ awarded_citation }}%</p>
<form action="/p2">
  <label for="Counties">Choose a County:</label>
  <select name="counties">
    {{awarded_citation}}
  </select>
  <br><br>
  <input type="submit">
</form>
{% endblock %}
