{% extends "layout.html" %}

{% set active_page = "page4" %}

{% block title %}Graph{% endblock %}

{% block content %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Number of Medals Earned in Each Branch of Military"
	},
	axisY: {
		title: "Number of Medals"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "Branch of Military",
		dataPoints: [      
			{ y: 2404, label: "Army \u2191 2404"},
			{ y: 746,  label: "Navy \u2191 746"},
			{ y: 297,  label: "Marine Corps \u2191 297"},
			{ y: 17,  label: "Aiir Force \u2191 17"},
			{ y: 1,  label: "Coast Guard \u2191 1" }
		]
	}]
});
chart.render();
{% endblock %}
}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
