{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
     <a href="page1.html"  style="text-decoration:none;"></a>
     <h1 class="groove">About the Medal of Honor</h1>
    <script src="script.js"></script>
    <p1>The data used in this web app is from the CORGIS Dataset Project and can be found.<p1>
    <a href="https://think.cs.vt.edu/corgis/json/medal_of_honor/">right here.</a>
  <p>Inside the data there is information on different people who have received the Medal of Honor. It discloses the date when the medal was awarded, the amount of Medal of Honors the particpant has recieved, where the participant was born, and the reason they were awarded the medal. </p> 
    <p3>There have been a total of 3473 Medals of Honor given out. Out of that, only one has been awarded to a women. You do not have to die to receive the Medal of Honor however you have to do something very heroic and life threatening to receive one. 10 people have received 2 Medals of Honor. Here is the link to the congressional Medal of Honor society.</p3>
     <a href="https://www.cmohs.org/">Right here.</a>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
     <img src="medal.jpg" alt="MedalofHonor">
      <div class="center">
  <p4>The image above shows the three varients of the medal of honor that can be recieved.</p4>
</div>
{% endblock %}
