{% extends "layout.html" %}

{% set active_page = "page3" %}

{% block title %}MVP{% endblock %}

{% block content %}     
     <title>Why did they recieve the Medal of Honor?</title>
<h1>What Branch of Military</h1>
<p>Choose a name to see what branch of military they are from</p>
<form action="/p3">
  <label for="States">Choose a Name:</label>
  <select name="states">
    {{states}}
  </select>
  <br><br>
  <input type="submit">
<p> This persons branch of military is {{ militaryrecord_organization }}.</p>
</form>
{% endblock %}
